In [2]:
import plotly.offline as py
import plotly.graph_objs as go
import pandas as pd
py.init_notebook_mode(connected=True)
%matplotlib inline

In [3]:
df = pd.read_csv('D:\\Datasets\\world-university-rankings\\timesData.csv')
df.head()

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,22%,42 : 58,2011
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,-,94.2,"7,929",8.4,27%,45 : 55,2011

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2603 entries, 0 to 2602
Data columns (total 14 columns):
world_rank                2603 non-null object
university_name           2603 non-null object
country                   2603 non-null object
teaching                  2603 non-null float64
international             2603 non-null object
research                  2603 non-null float64
citations                 2603 non-null float64
income                    2603 non-null object
total_score               2603 non-null object
num_students              2544 non-null object
student_staff_ratio       2544 non-null float64
international_students    2536 non-null object
female_male_ratio         2370 non-null object
year                      2603 non-null int64
dtypes: float64(4), int64(1), object(9)
memory usage: 284.8+ KB

In [5]:
df.describe()

          teaching     research    citations  student_staff_ratio         year
count  2603.000000  2603.000000  2603.000000          2544.000000  2603.000000
mean     37.801498    35.910257    60.921629            18.445283  2014.075682
std      17.604218    21.254805    23.073219            11.458698     1.685733
min       9.900000     2.900000     1.200000             0.600000  2011.000000
25%      24.700000    19.600000    45.500000            11.975000  2013.000000
50%      33.900000    30.500000    62.500000            16.100000  2014.000000
75%      46.400000    47.250000    79.050000            21.500000  2016.000000
max      99.700000    99.400000   100.000000           162.600000  2016.000000

In [6]:
## İlk 100 Üniversitenin yıllara citation puanlarını karşılaştırma

In [7]:
# İlk 100 üniversiteyi seçip df_top100 isminde yeni bir df yaratalım
df_2014 = df[df.year == 2014].iloc[:100,:]
df_2015 = df[df.year == 2015].iloc[:100,:]
df_2016 = df[df.year == 2016].iloc[:100,:]

In [8]:
df_2016.head()

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
1803,1,California Institute of Technology,United States of America,95.6,64.0,97.6,99.8,97.8,95.2,"2,243",6.9,27%,33 : 67,2016
1804,2,University of Oxford,United Kingdom,86.5,94.4,98.9,98.8,73.1,94.2,"19,919",11.6,34%,46 : 54,2016
1805,3,Stanford University,United States of America,92.5,76.3,96.2,99.9,63.3,93.9,"15,596",7.8,22%,42 : 58,2016
1806,4,University of Cambridge,United Kingdom,88.2,91.5,96.7,97.0,55.0,92.8,"18,812",11.8,34%,46 : 54,2016
1807,5,Massachusetts Institute of Technology,United States of America,89.4,84.0,88.6,99.7,95.4,92.0,"11,074",9.0,33%,37 : 63,2016

In [9]:
# 1. çizgi
trace2014 = go.Scatter(
    x = df_2014.world_rank,
    y = df_2014.total_score,
    mode = "markers", # noktalar
    name = "2014",
    marker = dict(color = 'rgba(255, 0, 0, 0.5)'), # ilk üç rakam renk, son rakam saydamlık
    text = df_2014.university_name # # hover durumunda görünecek bilgi
)
# https://www.rapidtables.com/web/color/RGB_Color.html renkleri seçmemize yardımcı olabilir.

In [10]:
# 2. çizgi
trace2015 = go.Scatter(
    x = df_2015.world_rank,
    y = df_2015.total_score,
    mode = "markers", # noktalar
    name = "2015",
    marker = dict(color = 'rgba(255, 128, 0, 0.5)'), # ilk üç rakam renk, son rakam saydamlık
    text = df_2015.university_name # hover durumunda görünecek bilgi
)

In [11]:
# 3. çizgi
trace2016 = go.Scatter(
    x = df_2016.world_rank,
    y = df_2016.total_score,
    mode = "markers", # noktalar
    name = "2016",
    marker = dict(color = 'rgba(0, 255, 0, 0.5)'), # ilk üç rakam renk, son rakam saydamlık
    text = df_2016.university_name # hover durumunda görünecek bilgi
)

In [12]:
data = [trace2014, trace2015, trace2016]

In [13]:
layout = dict(title = 'İlk 100 Üniversitenin Toplam Puanları ve Sıralamaları',
             xaxis= dict(title="World Rank", ticklen=5, zeroline=False),
             yaxis= dict(title="Toplam Puan", ticklen=5, zeroline=False)
             )

In [14]:
fig = dict(data=data, layout=layout)

In [15]:
py.iplot(fig) # matplotlib plt.show() benzeri