In [1]:
import plotly.offline as py
import plotly.graph_objs as go
import pandas as pd
py.init_notebook_mode(connected=True)
%matplotlib inline

In [37]:
df = pd.read_csv('D:\\Datasets\\world-university-rankings\\timesData.csv')
df.head()

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,22%,42 : 58,2011
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,-,94.2,"7,929",8.4,27%,45 : 55,2011

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2603 entries, 0 to 2602
Data columns (total 14 columns):
world_rank                2603 non-null object
university_name           2603 non-null object
country                   2603 non-null object
teaching                  2603 non-null float64
international             2603 non-null object
research                  2603 non-null float64
citations                 2603 non-null float64
income                    2603 non-null object
total_score               2603 non-null object
num_students              2544 non-null object
student_staff_ratio       2544 non-null float64
international_students    2536 non-null object
female_male_ratio         2370 non-null object
year                      2603 non-null int64
dtypes: float64(4), int64(1), object(9)
memory usage: 284.8+ KB

In [63]:
## Ülkelerin teaching	research  puanlarına göre karşılaştırma

df_country_grpby = df.groupby(["country"]) \
.mean()[["teaching","research"]] \
.reset_index()
df_country_grpby.head()

      country   teaching   research
0   Argentina  16.000000   9.000000
1   Australia  31.852137  36.118803
2     Austria  30.535484  23.535484
3  Bangladesh  21.700000   7.200000
4     Belarus  20.200000   8.700000

In [64]:
# 1. çizgi
trace_teaching = go.Bar(
    x = df_country_grpby.country,
    y = df_country_grpby.teaching,
    name = "teaching",
    marker = dict(color = 'rgba(0, 0, 255, 0.5)'), # ilk üç rakam renk, son rakam saydamlık
    text = df_country_grpby.country # # hover durumunda görünecek bilgi
)
# https://www.rapidtables.com/web/color/RGB_Color.html renkleri seçmemize yardımcı olabilir.

In [65]:
# 2. çizgi
trace_research = go.Bar(
    x = df_country_grpby.country,
    y = df_country_grpby.research,
    name = "research",
    marker = dict(color = 'rgba(0, 255, 0, 0.5)'), # ilk üç rakam renk, son rakam saydamlık
    text = df_country_grpby.country # # hover durumunda görünecek bilgi
)
# https://www.rapidtables.com/web/color/RGB_Color.html renkleri seçmemize yardımcı olabilir.

In [66]:
data = [trace_teaching, trace_research]

In [67]:
layout = dict(title = 'Ülkelerin Ortalama Araştırma ve Eğitim Puanları',
             xaxis= dict(title="Ülke", ticklen=5, zeroline=False),
             yaxis= dict(title="Ortalama Puan", ticklen=5, zeroline=False)
             )

In [68]:
fig = dict(data=data, layout=layout)

In [69]:
py.iplot(fig) # matplotlib plt.show() benzeri