In [1]:
import plotly.offline as py
import plotly.graph_objs as go
import pandas as pd
py.init_notebook_mode(connected=True)
%matplotlib inline

In [2]:
df = pd.read_csv('D:\\Datasets\\world-university-rankings\\timesData.csv')
df.head()

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,22%,42 : 58,2011
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,-,94.2,"7,929",8.4,27%,45 : 55,2011

In [3]:
df.tail(10)

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
2593,601-800,University of West Bohemia,Czech Republic,16.3,23.1,9.7,29.8,32.1,-,"15,639",21.5,2%,52 : 48,2016
2594,601-800,University of the West of England,United Kingdom,16.9,48.5,11.2,34.6,28.5,-,"22,525",21.4,15%,53 : 47,2016
2595,601-800,West University of Timişoara,Romania,16.1,21.0,3.9,22.4,-,-,"12,933",19.0,3%,62 : 38,2016
2596,601-800,University of Westminster,United Kingdom,17.3,81.9,11.7,21.1,28.5,-,"16,609",21.0,43%,57 : 43,2016
2597,601-800,Xidian University,China,17.9,12.8,12.1,8.9,83.7,-,"31,618",16.4,2%,29 : 71,2016
2598,601-800,Yeungnam University,South Korea,18.6,24.3,10.9,26.5,35.4,-,"21,958",15.3,3%,48 : 52,2016
2599,601-800,Yıldız Technical University,Turkey,14.5,14.9,7.6,19.3,44.0,-,"31,268",28.7,2%,36 : 64,2016
2600,601-800,Yokohama City University,Japan,24.0,16.1,10.2,36.4,37.9,-,"4,122",3.7,3%,NaN,2016
2601,601-800,Yokohama National University,Japan,20.1,23.3,16.0,13.5,40.4,-,"10,117",12.1,8%,28 : 72,2016
2602,601-800,Yuan Ze University,Taiwan,16.2,17.7,18.3,28.6,39.8,-,"8,663",20.6,4%,43 : 57,2016

In [4]:
## Son 10 Üniversitenin 2016 yılında research ve eğitim puanlarını ve ülkelerini bar plot ile karşılaştırma

In [5]:
# Son 10 üniversiteyi seçip df_2016 isminde yeni bir df yaratalım
df_2016 = df[df.year == 2016].iloc[lambda x: x.index >= 2593]

In [6]:
df_2016.head(11)

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
2593,601-800,University of West Bohemia,Czech Republic,16.3,23.1,9.7,29.8,32.1,-,"15,639",21.5,2%,52 : 48,2016
2594,601-800,University of the West of England,United Kingdom,16.9,48.5,11.2,34.6,28.5,-,"22,525",21.4,15%,53 : 47,2016
2595,601-800,West University of Timişoara,Romania,16.1,21.0,3.9,22.4,-,-,"12,933",19.0,3%,62 : 38,2016
2596,601-800,University of Westminster,United Kingdom,17.3,81.9,11.7,21.1,28.5,-,"16,609",21.0,43%,57 : 43,2016
2597,601-800,Xidian University,China,17.9,12.8,12.1,8.9,83.7,-,"31,618",16.4,2%,29 : 71,2016
2598,601-800,Yeungnam University,South Korea,18.6,24.3,10.9,26.5,35.4,-,"21,958",15.3,3%,48 : 52,2016
2599,601-800,Yıldız Technical University,Turkey,14.5,14.9,7.6,19.3,44.0,-,"31,268",28.7,2%,36 : 64,2016
2600,601-800,Yokohama City University,Japan,24.0,16.1,10.2,36.4,37.9,-,"4,122",3.7,3%,NaN,2016
2601,601-800,Yokohama National University,Japan,20.1,23.3,16.0,13.5,40.4,-,"10,117",12.1,8%,28 : 72,2016
2602,601-800,Yuan Ze University,Taiwan,16.2,17.7,18.3,28.6,39.8,-,"8,663",20.6,4%,43 : 57,2016

In [7]:
# 1. çizgi
trace_research = go.Bar(
    x = df_2016.university_name,
    y = df_2016.research,
    name = "research",
    marker = dict(color = 'rgba(255, 153, 51, 0.5)'), # ilk üç rakam renk, son rakam saydamlık
    text = df_2016.country # # hover durumunda görünecek bilgi
)
# https://www.rapidtables.com/web/color/RGB_Color.html renkleri seçmemize yardımcı olabilir.

In [8]:
# 2. çizgi
trace_teaching = go.Bar(
    x = df_2016.university_name,
    y = df_2016.teaching,
    name = "teaching",
    marker = dict(color = 'rgba(51, 153, 255, 0.5)'), # ilk üç rakam renk, son rakam saydamlık
    text = df_2016.country # hover durumunda görünecek bilgi
)

In [9]:
data = [trace_research, trace_teaching]

In [10]:
layout = dict(title = 'Son 10 Üniversitenin Araştırma ve Eğitim Puanları',
             xaxis= dict(title="Üniversite", ticklen=5, zeroline=False),
             yaxis= dict(title="Puan", ticklen=5, zeroline=False)
             )

In [11]:
fig = dict(data=data, layout=layout)

In [12]:
import plotly.offline as py
py.init_notebook_mode(connected=True)
py.iplot(fig) # matplotlib plt.show() benzeri

# Ödev

In [90]:
# ilk 10 üniversitenin araştırma ve eğitim puanlarını karşılaştırınız