In [1]:
import pandas as pd

In [2]:
data_path = "D:\\Datasets\\"
data_set = "simple_data.xlsx"

In [4]:
df = pd.read_excel(data_path + data_set)
# df = pd.read_excel("simple_data.xlsx")

In [6]:
# xlrd >= 1.0.0 hatası alınması durumunda komut satırından aşağıdaki paket yüklenir ve yeniden denenir.
# pip install xlrd >= 1.0.0

In [7]:
# Not:Excel'den okumak csv'ye göreçok yavaştır. 
# Ancak veri türü hakkındaki çıkarımlar daha isabetlidir.

In [5]:
df.head()

   sirano     isim  yas       meslek     sehir  aylik_gelir
0       1    Cemal   35         Isci    Ankara         3500
1       2    Ceyda   42        Memur   Kayseri         4200
2       3    Timur   30    MÃ¼zisyen  Istanbul         9000
3       4    Burcu   29  Pazarlamaci    Ankara         4200
4       5  Yasemin   23  Pazarlamaci     Bursa         4800

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
sirano         15 non-null int64
isim           15 non-null object
yas            15 non-null int64
meslek         15 non-null object
sehir          15 non-null object
aylik_gelir    15 non-null int64
dtypes: int64(3), object(3)
memory usage: 848.0+ bytes

# Pandas Dataframe'i diske yazma

In [7]:
df.to_csv(path_or_buf="D:\\Datasets\\simple_data_pandas_writedisk.csv", 
          encoding='utf-8',
          sep=",", index=False, header=True, 
          columns=['sirano', 'isim', 'yas', 'meslek', 'sehir', 'aylik_gelir'])

# Daha fazla bilgi: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html

In [8]:
df_ff = pd.read_csv("D:\\Datasets\\simple_data_pandas_writedisk.csv")

In [9]:
df_ff.head()

   sirano     isim  yas       meslek     sehir  aylik_gelir
0       1    Cemal   35         Isci    Ankara         3500
1       2    Ceyda   42        Memur   Kayseri         4200
2       3    Timur   30    MÃ¼zisyen  Istanbul         9000
3       4    Burcu   29  Pazarlamaci    Ankara         4200
4       5  Yasemin   23  Pazarlamaci     Bursa         4800