In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("D:/Datasets/simple_data.csv")

In [6]:
df.head()

   sirano     isim  yas       meslek     sehir  aylik_gelir
0       1    Cemal   35         Isci    Ankara         3500
1       2    Ceyda   42        Memur   Kayseri         4200
2       3    Timur   30     Müzisyen  Istanbul         9000
3       4    Burcu   29  Pazarlamaci    Ankara         4200
4       5  Yasemin   23          NaN     Bursa         4800

In [7]:
df['meslek'].unique()

array(['Isci', 'Memur', 'Müzisyen', 'Pazarlamaci', nan, 'Doktor',
       'Berber', 'Tuhafiyeci', 'Tornacı'], dtype=object)

## nan değeri Bilinmiyor ile dolduralım

In [8]:
df['meslek'] = df['meslek'].map({np.nan: 'Bilinmiyor'})

In [9]:
df['meslek'].unique()

array([nan, 'Bilinmiyor'], dtype=object)

In [10]:
df.head()

   sirano     isim  yas      meslek     sehir  aylik_gelir
0       1    Cemal   35         NaN    Ankara         3500
1       2    Ceyda   42         NaN   Kayseri         4200
2       3    Timur   30         NaN  Istanbul         9000
3       4    Burcu   29         NaN    Ankara         4200
4       5  Yasemin   23  Bilinmiyor     Bursa         4800

In [11]:
# Bütün olası kategoriler için eşlemek gerektiğinden daha az sayıda kategoride
# veya binary kategorilerde kullanmak daha uygun

# Kategorik nitelikleri seçmek

In [12]:
df.select_dtypes(['object']).columns

Index(['isim', 'meslek', 'sehir'], dtype='object')