In [1]:
import pandas as pd

In [2]:
# kaynak: https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [3]:
order_items_df = pd.read_csv("D:/order_items.csv")

In [4]:
order_items_df.head()

,orderItemName,orderItemOrderId,orderItemProductId,orderItemQuantity,orderItemSubTotal,orderItemProductPrice
0,1,1,957,1,299.98,299.98
1,2,2,1073,1,199.99,199.99
2,3,2,502,5,250.00,50.00
3,4,2,403,1,129.99,129.99
4,5,4,897,2,49.98,24.99

In [5]:
order_items_df = pd.read_csv("D:\\Datasets\\retail_db\\order_items.csv")

In [6]:
products_df = pd.read_csv("D:\\Datasets\\retail_db\\products.csv")

In [7]:
order_items_df.head()

,orderItemName,orderItemOrderId,orderItemProductId,orderItemQuantity,orderItemSubTotal,orderItemProductPrice
0,1,1,957,1,299.98,299.98
1,2,2,1073,1,199.99,199.99
2,3,2,502,5,250.00,50.00
3,4,2,403,1,129.99,129.99
4,5,4,897,2,49.98,24.99

In [9]:
products_df.head(2)

,productId,productCategoryId,productName,productDescription,productPrice,productImage
0,1,2,Quest Q64 10 FT. x 10 FT. Slant Leg Instant U,NaN,59.98,http://images.acmesports.sports/Quest+Q64+10+F...
1,2,2,Under Armour Men's Highlight MC Football Clea,NaN,129.99,http://images.acmesports.sports/Under+Armour+M...

# Union two dataframe with concatenate

In [9]:
# union için şemalar aynı olmalıdır.

In [10]:
products_df.shape

(1345, 6)

In [11]:
union_products_df = pd.concat([products_df, products_df])

In [12]:
union_products_df.shape

(2690, 6)

# Inner Join two dataframes

In [13]:
# Siparişler ile ürünleri ürün id üzerinden birleştirme

In [13]:
inner_join_df = pd.merge(order_items_df, products_df, left_on = "orderItemProductId", 
                         right_on = "productId", how = "inner")

In [14]:
inner_join_df.head()

,orderItemName,orderItemOrderId,orderItemProductId,orderItemQuantity,orderItemSubTotal,orderItemProductPrice,productId,productCategoryId,productName,productDescription,productPrice,productImage
0,1,1,957,1,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...
1,9,5,957,1,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...
2,12,5,957,1,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...
3,15,7,957,1,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...
4,34,12,957,1,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...

In [15]:
# Birleşme sonrası boyut
inner_join_df.shape

(172198, 12)

In [16]:
# Büyük tablo ile join tablo aynı satır sayısına sahip olduğu için tüm ürünler sipariş tablosunda var.
order_items_df.shape

(172198, 6)

In [11]:
products_df.shape

(1345, 6)

# Outer join two dataframes

In [17]:
outer_join_df = pd.merge(order_items_df, products_df, left_on = "orderItemProductId", 
                         right_on = "productId", how = "outer")

In [18]:
outer_join_df.head()

,orderItemName,orderItemOrderId,orderItemProductId,orderItemQuantity,orderItemSubTotal,orderItemProductPrice,productId,productCategoryId,productName,productDescription,productPrice,productImage
0,1.0,1.0,957.0,1.0,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...
1,9.0,5.0,957.0,1.0,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...
2,12.0,5.0,957.0,1.0,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...
3,15.0,7.0,957.0,1.0,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...
4,34.0,12.0,957.0,1.0,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...

In [19]:
outer_join_df.shape

(173443, 12)

In [20]:
order_items_df.shape

(172198, 6)

In [33]:
products_df.shape

(1345, 6)

In [24]:
173443 - 172198

1245

In [34]:
# Ürün tablosunda olan bazı ürünlerden sipariş verilmemiş, kanıtı:

In [35]:
len(products_df.productId.unique())

1345

In [36]:
len(order_items_df.orderItemProductId.unique())

100

# Ödev

In [ ]:
# Toplam tutar bakımından En çok iptal edilen (CANCELED) 10 ürünü bulunuz.
# orders.csv, products.csv, order_items.csv