In [1]:
import pandas as pd

# Series

In [37]:
my_series = pd.Series([5, 6, 7, 8, 9, 10])

In [38]:
my_series

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

In [39]:
my_series.index

RangeIndex(start=0, stop=6, step=1)

In [40]:
my_series.values

array([ 5,  6,  7,  8,  9, 10], dtype=int64)

In [41]:
my_series[4]

9

In [42]:
my_series2 = pd.Series([5, 6, 7, 8, 9, 10], index=['a', 'b', 'c', 'd', 'e', 'f'])

In [43]:
my_series2['b']

6

In [44]:
my_series2[['a', 'b', 'f']]

a     5
b     6
f    10
dtype: int64

In [45]:
my_series2[my_series2 > 0]

a     5
b     6
c     7
d     8
e     9
f    10
dtype: int64

In [12]:
# Pandas Series Dictionary'e benzer

In [46]:
my_series3 = pd.Series({'a': 5, 'b': 6, 'c': 7, 'd': 8})

In [47]:
my_series3

a    5
b    6
c    7
d    8
dtype: int64

In [15]:
# Index Değişebilir

In [48]:
my_series3.index = ['A', 'B', 'C', 'D']
my_series3

A    5
B    6
C    7
D    8
dtype: int64

# DataFrame

In [17]:
# Dataframe'in her bir sütunu bir Series'dir.

## Dictionary Kullanarak Dataframe Yaratma

In [49]:
df = pd.DataFrame({
    'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
    'population': [17.04, 143.5, 9.5, 45.5],
    'square': [2724902, 17125191, 207600, 603628]
})

In [50]:
df.head()

      country  population    square
0  Kazakhstan       17.04   2724902
1      Russia      143.50  17125191
2     Belarus        9.50    207600
3     Ukraine       45.50    603628

In [51]:
df['country']

0    Kazakhstan
1        Russia
2       Belarus
3       Ukraine
Name: country, dtype: object

In [22]:
# Dataframe'in 2 indeksi var:satır ve sütün. Eğer açıkca bir satır indeksi belirtmez isek kendisi 0'dan başlayan
# ardışık tam sayıları indeks olarak kullanır.

In [52]:
df.columns

Index(['country', 'population', 'square'], dtype='object')

# Dataframe'e İndeksler ile Erişim

In [53]:
# Bu sefer plaka kodlarını satır indeksi yapalım

In [54]:
df2 = pd.DataFrame(
    {
    'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
    'population': [17.04, 143.5, 9.5, 45.5],
    'square': [2724902, 17125191, 207600, 603628]
    }, 
    index=['KZ', 'RU', 'BY', 'UA']
)

In [55]:
df2

       country  population    square
KZ  Kazakhstan       17.04   2724902
RU      Russia      143.50  17125191
BY     Belarus        9.50    207600
UA     Ukraine       45.50    603628

In [27]:
# Satır indeksini sonradan atayabiliriz

In [56]:
df.index = ['KZ1', 'RU1', 'BY1', 'UA1']

In [57]:
df

        country  population    square
KZ1  Kazakhstan       17.04   2724902
RU1      Russia      143.50  17125191
BY1     Belarus        9.50    207600
UA1     Ukraine       45.50    603628

In [30]:
# Satır indeksine isim verebiliriz

In [58]:
df2.index.name = 'CountryCode'

In [59]:
df2

                country  population    square
CountryCode
KZ           Kazakhstan       17.04   2724902
RU               Russia      143.50  17125191
BY              Belarus        9.50    207600
UA              Ukraine       45.50    603628

In [60]:
df2['country']

CountryCode
KZ    Kazakhstan
RU        Russia
BY       Belarus
UA       Ukraine
Name: country, dtype: object